@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-slate-800 antialiased;
}

.card {
  @apply bg-surface rounded-xl shadow-sm border border-slate-200 p-6;
}